.Header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.Header__left {
    flex: 0.5;
    background-color: white;
    min-width: 70px;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.Header__left > input {
    border: none;
    width: 100%;
}

.Header__right {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    padding: 2px 8px;
    font-size: small;
}

.Header__right > h4 {
    margin-left: 10px;
}